#include <stdio.h>
#include "abc.h"
#include <assert.h>

int main () {
    assert(abc() == 6);
    return 0;
}

|||||
VVVVV

hash
word {content: "include"}
whitespace
string {stringtype: "angle",content: "stdio.h"}
newline

hash
word {content: "include"}
whitespace
string {stringtype: "normal",content: "abc.h"}
newline

hash
word {content: "include"}
whitespace
string {stringtype: "angle",content: "assert.h"}
newline

word {content: "int"}
whitespace
word {content: "main"}
whitespace
open_parenthesis
close_parenthesis
whitespace
open_curlybrace
newline

word {content: "assert"}
open_parenthesis
word {content: "abc"}
open_parenthesis
close_parenthesis
whitespace
logical_equals
whitespace
decimal_number {value: 6}
close_parenthesis
semicolon
newline

word {content: "return"}
whitespace
decimal_number {value: 0}
semicolon
newline

close_curlybrace